<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          {{ "#_OCADVersioner" | translate }}
        </h5>
      </div>
      <div class="modal-body">
        <p>
          {{ "#_projectDirectorySelectorText" | translate }}
        </p>
        <p>
          {{ "#_projectDirectorySelectorTextPt2" | translate }}
        </p>
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          id="triggerModalButton"
          #openModalButton
        ></button>
        <button
          type="button"
          data-bs-dismiss="modal"
          id="triggerModalButton"
          #closeModalButton
        ></button>
      </div>
      <div class="modal-footer">
        <div *ngIf="ocadFileNamesInProjectDirectory?.length === 0">
          <button
            type="button"
            class="btn btn-primary"
            (click)="setProjectDirectory()"
          >
            {{ "#_chooseOcadDirectory" | translate }}
          </button>
        </div>
        <div
          *ngIf="(ocadFileNamesInProjectDirectory?.length ?? 0) > 1"
          class="dropdown"
        >
          <button
            id="selectCorrectOcadFileButton"
            class="btn btn-warning dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "#_foundMultipleOcdFilesInDirectory" | translate }}
          </button>
          <ul class="dropdown-menu">
            <ng-container
              *ngFor="let ocdFileName of ocadFileNamesInProjectDirectory"
              ><li (click)="setCurrentOcdFile(ocdFileName)">
                <a class="dropdown-item">{{ ocdFileName }}</a>
              </li></ng-container
            >
          </ul>
        </div>
      </div>
      <ng-container *ngFor="let errorMessage of errorMessages">
        <p class="text-danger">{{ errorMessage | translate }}</p>
      </ng-container>
    </div>
  </div>
</div>
