<div class="container">
  <h3>OCADVersioner</h3>
  <div class="row">
    <div class="col">
      <ocad-file-uploader
        [title]="'#_currentVersion' | translate"
        (ocadFileAsGeoJson)="handleLoadedGeoJsonFile($event, true)"
      ></ocad-file-uploader>
      <!-- <ocad-map-viewer></ocad-map-viewer> -->
      <p *ngIf="originalAsGeoJson$ | async as original">{{ original }}</p>
    </div>
    <div class="col">
      <ocad-file-uploader
        [title]="'#_oldVersion' | translate"
        (ocadFileAsGeoJson)="handleLoadedGeoJsonFile($event, false)"
      ></ocad-file-uploader>
      <p *ngIf="versionedAsGeoJson$ | async as versioned">{{ versioned }}</p>
    </div>
  </div>
  <div *ngIf="selectedTableView$ | async as selectedTableView">
    <div class="mt-3">
      <ul class="nav nav-tabs nav-fill">
        <li
          class="nav-item"
          (click)="setSelectedTableView(OcadDiffTableView.Added)"
        >
          <a
            class="nav-link"
            [ngClass]="{
              active: selectedTableView === OcadDiffTableView.Added
            }"
            >{{ "#_added" | translate }}</a
          >
        </li>
        <li
          class="nav-item"
          (click)="setSelectedTableView(OcadDiffTableView.Updated)"
        >
          <a
            class="nav-link"
            [ngClass]="{
              active: selectedTableView === OcadDiffTableView.Updated
            }"
            >{{ "#_edited" | translate }}</a
          >
        </li>
        <li
          class="nav-item"
          (click)="setSelectedTableView(OcadDiffTableView.Deleted)"
        >
          <a
            class="nav-link"
            [ngClass]="{
              active: selectedTableView === OcadDiffTableView.Deleted
            }"
            >{{ "#_deleted" | translate }}</a
          >
        </li>
      </ul>
    </div>
    <ocad-diff-table
      [tableInput]="diffTable$ | async"
      [tableView]="selectedTableView"
      class="mt-3"
    ></ocad-diff-table>
  </div>
</div>
