<div class="container">
  <h3 class="my-2">{{ "#_OCADVersioner" | translate }}</h3>
  <project-directory-selector
    (projectLoaded)="setSelectedVersion(0)"
  ></project-directory-selector>
  <div class="row" *ngIf="diffTable$ | async as diffTable">
    <div class="col-md-3">
      <ocad-version-list
        [releases]="(provider.versionMetaDataList$ | async) ?? []"
        (versionNumberSelected)="setSelectedVersion($event)"
        class="mb-auto"
      >
      </ocad-version-list>
      <create-version
        *ngIf="(newestVersionMetaData$ | async)?.versionNumber === 0"
        class="my-3"
        [fileName]="provider.getCurrentFileName()"
        [newVersionName]="provider.getNewVersionName()"
        [versionDiffMetaData]="{
          numberOfAddedSymbols: diffTable?.added?.length ?? 0,
          numberOfEditedSymbols: diffTable?.edited?.length ?? 0,
          numberOfDeletedSymbols: diffTable?.deleted?.length ?? 0
        }"
      ></create-version>
    </div>
    <div
      class="col-md-9"
      *ngIf="selectedTableView$ | async as selectedTableView"
    >
      <div class="d-flex justify-content-center">
        <current-version-comparison
          [newestVersionName]="
            (newestVersionMetaData$ | async)?.versionName ?? null
          "
          [oldestVersionName]="
            (oldestVersionMetaData$ | async)?.versionName ?? null
          "
          [isHistory]="(newestVersionMetaData$ | async)?.versionNumber !== 0"
        ></current-version-comparison>
      </div>
      <ocad-map-viewer
        *ngIf="bboxOfNewestVersion$ | async as bbox"
        [bboxOfMap]="bbox"
      ></ocad-map-viewer>
      <diff-table-tabs
        [diffTable]="diffTable"
        (selectedTableView)="setSelectedTableView($event)"
      ></diff-table-tabs>
      <ocad-diff-table
        [tableInput]="diffTable"
        [tableView]="selectedTableView"
        class="mt-3"
      ></ocad-diff-table>
    </div>
  </div>
</div>
